html {
  height: 300%;
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  height: 64.28%;
  width: 71.007%;
  /*width: auto;
  height: auto;
  width: 960px;
  height: 700px;*/
  /*margin-top: 10px;*/
  /*margin-top: 1%;*/
}

#main {
  float: left;
  /*width: 750px;*/
  width: 78.125%;
}

#sidebar {
  float: right;
  /*width: 100px;*/
  width: 10.417%;
}


#sequence {
  /*width: 600px;*/
  /*height: 70px; nao consegui passar essa height*/
  width: 80%;
}

#legend {
  padding: 10px 0 0 3px;
  /*deixei inalterado o padding*/
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
/*  position: absolute;
  top: 260px;
  left: 305px;
  width: 140px;*/
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
